.modal{  
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50% , -50%);
        background-color:white;
        height: 50%;
        width: 50%; 
        border-radius: 10px;
        padding: 30px;
   h2{
        color: #333;
        font-size:xx-large;
    }
    p{
        color: gray;
        font-size: medium;
    }
      
    .close{
     position: absolute;
     width: 30px;
     height: 30px;
     background-color: red;
     color: white;
     border: 0;
     top: 0;
     right: 0;
     cursor: pointer;
    }
}